<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        background-color: #8EC9E3;
      }
    </style>
  </head>
  <body>
    <form>
      <input type='text' name='guess' />
      <input type='submit' values='Guess!' />
    </form>
    <p>
      <%= message %>
    </p>
    <p>
      <% if message == "You got the right answer!" || cheat %>
        The SECRET NUMBER is <%= number %>
      <% end %>
    </p>
  </body>
</html>
